<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="nav">
    <a href="/recommend">Рекомендации</a>
    <a href="/favorites">Избранное ❤️</a>
    <a href="/account" class="btn-outline">Моя анкета</a>
</div>

<div class="container">
    <h1>Избранное ❤️</h1>

    {% for pet in pets %}
        <div class="card">
            <img src="{{ pet.image }}">

            <h3>{{ pet.pet_name }}</h3>
            <p>{{ pet.reason }}</p>

            <form method="POST" action="/delete_favorite">
                <input type="hidden" name="fav_id" value="{{ pet.id }}">
                <button class="btn">Удалить</button>
            </form>
        </div>
    {% endfor %}
</div>

</body>
</html>